@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
/*header-gallery slideshow*/
.carousel-inner picture{
    height: auto;
}
/*Section - About*/
.info {
  height: auto;
  text-align: center;
  overflow: hidden;
}

.info h2{
  margin-top: 30px;
  margin-bottom: 30px;
}

.info p {
  margin-left: 30px;
  margin-right: 30px;
}

/* Section-castles*/
.container{
  height: auto;
  margin-bottom: 20px;
}
.row {
  margin-bottom: 15px;
}
.row a{/*buttons*/
  background-color: #f8f9fa;
  color: black;
  border-color: black;
}
.corv{/*castles pictures style in dropdown buttons*/
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 32px;
}
.bra{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 40px;
}
.pel{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 40px;
}
.box {
  display: flex;
  align-items:right;
}
.card-body {
  margin-left: 10px;
}
.vor{/*monasteries pictures style in dropdown buttons*/
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 35px;
}
.suc{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 45px;
}
.put{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 34px
}